
@{
    ViewBag.Title = "RegistroVerbali";
}

<h2>RegistroVerbali</h2>
<div class="container-fluid">
    <div class="row">
  
        @*@Html.ActionLink("Mostra", "ReturnPartial", "Home", null, new {@class="btn btn-primary", id="1"})*@
        <div class="col-6" id="1">

            <p>  @Html.Action("SelectVerbaliPerson")</p>
        </div>

        <div class="col-6" id="2">
            @Html.Action("SelectDecurtamentoPunti")
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6" id="3">
            @Html.Action("SelectWhereDecurtamentoPunti")
        </div>

        <div class="col-6" id="3">
            @Html.Action("SelectImporto")
        </div>
    </div>
</div>

@*<button>@Html.ActionLink($"{@Html.Action("SelectImporto")}", "Home")</button>*@