@using Benchmark_14.Models
@Styles.Render("~/Shared/NewLayout")

<h2>Decurtamento punti maggiore di  10</h2>
<div class="bg-success">
    <div class="container table table-bordered border border-dark">
        <div class="row">

            <div class="col-3">
                <strong>Nome e cognome</strong>
            </div>

            <div class="col-3">
                <strong>Data violazione</strong>

            </div>
            <div class="col-3">
                <strong>Importo</strong>
            </div>

            <div class="col-3">
                <strong>Decurtamento punti</strong>

            </div>
        </div>
    </div>
    @foreach (Dipartimento item in Model)
    {
        <div class="container table table-bordered border border-dark">
            <div class="row">

                <div class="col-3">
                    @item.Nome @item.Cognome
                </div>

                <div class="col-3">
                    @item.DataViolazione

                </div>
                <div class="col-3">
                    @item.Importo
                </div>

                <div class="col-3">
                    @item.DecurtamentoPunti

                </div>
            </div>
        </div>
    }
</div>